[Unit]
Description=GPG key agent

[Service]
Type=forking
ExecStart=/usr/bin/gpg-agent --daemon --enable-ssh-support
Restart=on-abort

[Install]
WantedBy=default.target
