[Unit]
Description=PulseAudio Sound System
Documentation=man:pulseaudio(1)
Requires=dbus.socket

[Service]
Type=forking
BusName=org.pulseaudio.Server
ExecStart=/usr/bin/pulseaudio --start
Restart=always
RestartSec=5sec

[Install]
WantedBy=default.target
